<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表排序</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>

    <div id="root">
        <h2>人员列表</h2>
        <label>
            <input type="text" placeholder="请输入名字" v-model="keyWord">
        </label>
        <button @click="sortType=2">年龄升序</button>
        <button @click="sortType=1">年龄降序</button>
        <button @click="sortType=0">恢复顺序</button>
        <ul>
            <li v-for="person in filterPersons" :key="person.id">
                {{person.name}}-{{person.age}}-{{person.sex}}
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        const vm = new Vue({
            el: '#root',
            data: {
                persons: [
                    {id: '001', name: '马冬梅', age: 18, sex: '女'},
                    {id: '002', name: '江明东', age: 19, sex: '男'},
                    {id: '003', name: '周杰伦', age: 20, sex: '男'},
                    {id: '004', name: '温小宝', age: 21, sex: '男'},
                ],
                keyWord: '',
                sortType: 0,    // 0：原顺序，2：升序 1：降序
            },
            computed: {
                filterPersons() {
                    const arr = this.persons.filter((p) => {
                        return p.name.indexOf(this.keyWord) !== -1;
                    })
                    // 判断一下是否需要排序
                    if (this.sortType) {
                        arr.sort((p1, p2)=>{
                            return this.sortType === 1 ? p2.age - p1.age : p1.age - p2.age
                        })
                    }
                    return arr
                }
            }
        })

        // let arr = [1, 3, 2, 6, 4, 5]
        // arr.sort((a, b) =>{
        //     return a - b
        // })
        // console.log(arr)
    </script>
</body>
</html>