<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>姓名案例_methods实现</title>
    <!-- 引入Vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <!-- 准备好一个容器-->
    <div id="root">
        <label>
            姓：<input type="text" v-model="firstName"> <br/>
            名：<input type="text" v-model="lastName"> <br/>
            全名：<span>{{fullName()}}</span><br/>
            全名：<span>{{fullName()}}</span><br/>
            全名：<span>{{fullName()}}</span><br/>
            全名：<span>{{fullName()}}</span><br/>
        </label>
    </div>
</body>

<script type="text/javascript">
    new Vue({
        el:'#root',
        data:{
            firstName:'王',
            lastName:'师维'
        },
        methods: {
            fullName() {
                console.log('方法被调用了')
                return this.firstName + this.lastName;
            }
        }
    })
</script>
</html>